<head>
  
</head>
<h2><%= @user.username %>'s created Video Posts</h2>
<ul>
  <% @user.created_video_posts.each do |video_post| %>
  
  <li>
    <div class="video-post">
        <video width="200" height="130" controls>
        <source src="<%= videopost.video_url %>" type="video/mp4">
      </video>
      <a href="/video-posts/<%= video_post.id %>"><%= video_post.title %></a>
    </div>
  </li>

  <% end %>
</ul>

<% if @user.created_video_posts.empty? %>
  <p>You have not created any videos.</p>
<% end %>

<div style="clear: both"></div>
