<h2><%= @user.username %>'s Liked Video Posts</h2>
<ul>
  <% @user.liked_video_posts.each do |video_post| %>
  <li><a href="/video-posts/<%= video_post.id %>"><%= video_post.title %></a></li>
  <% end %>
</ul>