<h2>Create Video Post</h2>
<form action="/video-posts" method="POST">
  <label for="title">Title: </label>
  <input type="text" name="title" id="title">
  <br>
  <label for="title">Link of Video:</label>
  <input type="text" name="video_link" id="video_link">
  <br>
  <input type="submit" value="Create Video Post">
</form>