<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% if logged_in? %>
<h3>Welcome, <%= @user.username %></h3>
<a href="/logout">Log Out</a>
<br>
<a href="/video-posts/new">Create Post</a>
<br>
<a href="/video-posts/liked-video-posts">My Liked Videos</a>
<br>
<a href="/video-posts/created-video-posts">My Created Video Posts</a>
<% else %>
<a href="/login">Log In</a>
<br>
<a href="/signup">Sign Up</a>
<% end %>

<h2>Lixer Feed</h2>
<ul>
  <% VideoPost.all.each do |videopost| %>
  <li><a href="/video-posts/<%= videopost.id %>"><%= videopost.title %></a></li>
  <% end %>
</ul>