body {
  font-family: Arial;
}

#userNav {
  margin-top: 20px;  
}

#userNav a {
  padding: 0 10px;
}

#container {
  width: 900px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

div .video-post {
  clear: left;
  padding: 10px 0;
}

.video-post iframe {
  float: left;
  margin-right: 20px;
}

.video-post a {
  font-weight: bold;
  text-decoration: none
}

input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: auto;
  padding: 12px 20px;
  margin: 0 auto;
}