body {
  font-family: Arial;
  background-color: #E8E8E8;
}

#userNav a {
  padding: 0 10px;
}

#container {
  background-color: #FFFFFF;
  width: 900px;
  margin: 0 auto;
  padding: 40px 60px 100px;
  border: 1px solid #BEBEBE;
}

ul {
  list-style: none;
}

.main-video {
  padding: 20px 10px;
}

div .video-post {
  clear: left;
  padding: 10px 0;
}

.video-post video {
  float: left;
  margin-right: 20px;
}

.video-post a {
  font-weight: bold;
  text-decoration: none
}

input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: auto;
  padding: 12px 20px;
  margin: 0 auto;
}

#videoPostInteractions form {
  display: inline-block;
}

#videoPostInteractions a {
  padding: 12px 20px;
}

#showVideoPost iframe {
  margin: 20px 0px;
}