body {
  font-family: Arial;
}

#userNav a {
  padding: 0 10px;
}

#container {
  width: 900px;
  margin: 0 auto;
}

.video-post {
  clear: left;
  margin: 20px 0;
}

.video-post iframe {
  float: left;
  margin-right: 20px;
}