<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./style.css">  
  </head>
  <body>
    <h1 >Welcome to Lixer</h1>
    <a href="/login">Login</a>
    <br>
    <a href="/signup">Sign Up</a>
  </body>
</html>