<!DOCTYPE html>
<html>
  <head>
    <title>Lixer</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />  
    <!-- <style>
      body {
        font-family: Arial;
      } -->
    </style>

  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>